ion-toolbar{
  display: flex;
  justify-content: center;
}

ion-menu-button{
  display: block;
}

ion-list ion-item, ion-list ion-item.item:hover a{
  --color: white!important;
}

ion-menu ion-content{
  --background: #222222;
}